# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
C:\Users\Atıl\IdeaProjects\git_practice1\out
/out/
*.txt
